html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 2500px;
  margin: 0;
  padding: 0.5em;
  color: #111;
  background: #000;
  font-family: sans-serif;
}

.section-headline {
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em 0;
  font-weight: normal;
  letter-spacing: 0.015em;
}

.main-header,
.main-footer {
  min-height: 100px;
}

.content-aside,
.content-article,
.main-header,
.main-footer {
  max-width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #e3efff;
  border-radius: 0.5em;
}

.main-header {
  background: #8c66ff;
}

.main-footer {
  margin-bottom: 0;
  background: #57a2ff;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.content-aside {
  min-height: 100px;
  background: #e3c500;
}

.content-article {
  flex-grow: 1;
  background: #ffa21f;
}

.scroll-up-wrapper {
}

.scroll-up-btn {
  cursor: pointer;
}
